includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    paths:
        - app
        - tests
    level: 5
    scanFiles:
        - stubs/phpstan/ScribeAttributes.php
    tmpDir: storage/phpstan
    bootstrapFiles:
        - tools/phpstan/bootstrap.php
    parallel:
        maximumNumberOfProcesses: 1
        processTimeout: 2400.0
